html {
  background-color: rgba(249,250,245,255);
}
@font-face {
  font-family: held-fast;
  src: url(./files/HeldxFast.ttf);
}
@font-face {
  font-family: rats;
  src: url(./files/Rats-Get-Fat.ttf);
}

.App {
  text-align: center;
  margin-top: 13vh;
}

nav{
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(101, 123, 130);
  color:black;
  font-weight: bold;
  font-family: rats;
}
.BGlogo{
  max-height: 10vh;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
a{
  text-decoration: none;
}
a:visited{
  color: black;
}
.cart-logo {
  max-height: 5vh;
}

.heading {
  font-family: held-fast;
  font-size: 80px;
  margin-bottom: 0%;
}

.store-grid{
  display: grid;
  padding: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
}

.store-item{
  display: grid;
  grid-template-rows: 2fr 1.5fr;
  align-items: center;
  justify-items: center;
  height: 350px;
  width: 250px;
  border: 2px solid black;
  border-radius: 8px;
  padding-top: 2rem;
  font-weight: bold;
}

.album-cover{
  height: 200px;
  box-shadow: 0 0 5px black;
}
.album-info {
  width: 80%;
}

.album-name{
  margin-bottom: 0rem;
  font-family: rats;
  font-size: 15px;
}
.album-price {
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.buy-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
  width: 90%;
  align-self: end;
}
.shop-quantity {
  width: 2rem;
}
.add-to-cart{
  height: 20px;
  align-self: center;
  background-color: black;
  color: white;
  border: none;
}
.enlargedPicture{
  display: none;
}

.content {
  font-family: rats;
}
.cartContainer{
  margin-bottom: 5rem;
}

.cart {
  margin-top: 5rem;
  display: grid;
  justify-content: space-around;
  gap: 1rem;
}
.cart-album {
  justify-self: start;
  padding-left: 2rem;
}
.cart-quantity {
  width: 3rem;
}
.cart-item {
  height: 15vh;
  width:90%;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 8fr 1fr 2fr 1fr;
  align-items: center;
  border: 2px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
}
.cart-cover {
  height: 10vh;
}
.cart-remove{
  height: 2rem;
  background-color: black;
  border-radius: 10px;
  color: white;
  border: 2px solid black;
}
.purchaseDiv {

}
.total {
  font-weight: bold;
}
.checkout {
  height: 2rem;
  background-color: black;
  border-radius: 10px;
  color: white;
  border: 2px solid black;
}

.enlargedDiv{
  display: grid;
  height: 80vh;
  width: 70%;
  position: fixed;
  top: 10%;
  left: 15%;
  background-color: white;
  padding-bottom: 2rem;
  border: 2px solid black;
}

.enlargedImg{
  height: 500px;
  justify-self: center;
  margin: 2rem;
  border: 2px solid black;
}
.closeBtn{
  justify-self: center;
  width: 10rem;
  height: 2rem;
  margin-bottom: 3rem;
  background-color: black;
  color: white;
  font-family: rats;
}

#enlargedPicture1, #enlargedPicture2, #enlargedPicture3, #enlargedPicture4, 
#enlargedPicture5, #enlargedPicture6, #enlargedPicture7, #enlargedPicture8, 
#enlargedPicture9, #enlargedPicture10,#enlargedPicture11,#enlargedPicture12,
#enlargedPicture13,#enlargedPicture14,#enlargedPicture15{
  display: none;
  grid-template-rows: 9fr 1fr;
}